In [1]:
# data => ingredients.csv

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('ingredients.csv')
df.head()

   sweetness  crunchiness ingredients    class
0          1            1      cheese  protein
1          3            1        fish  protein
2          2            2      shrimp  protein
3          1            4       bacon  protein
4          3            5        nuts  protein